.boton{
    background-color: #6278F7;
    border-radius: 10px;
    height: 80px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    color: white;
    border: none;
    margin: 32px 0;
    cursor: pointer;
    font-size: 20px;
}
.boton:hover{
    color: #95FFD4;
}